// --------------------
// Global Variables
// --------------------
$global-font-size: 16px;
$global-font-family: 'Roboto', sans-serif;

// --------------------
// Global Colors
// --------------------
$color-font-base: #323232;
$high-light-gray: #fcfcfc;
$text-light-gray: #BDC1CC;
$text-gray: #607d8b;
$text-black: #263238;
$bg-light-gray: #fafafa;
$bg-gray: #eee;
$bg-dark-gray: #757575;
$bg-light-blue-gray: #eceff1;
$border-light-gray: #e0e0e0;
$color-bg-base: #263238;
$bg-dark-blue: #104b2b;
$bg-green-light: #b8dbc8;
$bg-yellow: #997238;
$bg-yellow-light: #ba8537;
$color-white: #ffffff;
$color-blue: #2689FF;
$color-breadcrumb: #2689FF;


$primary-color: #663cfc;
$secondary-color: #5064d7;


// --------------------
// Global Font Sizes
// --------------------
$font-size-mini: ($global-font-size * 0.714);
$font-size-tiny: ($global-font-size * 0.785);
$font-size-small: ($global-font-size * 0.857);
$font-size-medium: $global-font-size;
$font-size-large: ($global-font-size * 1.142);
$font-size-big: ($global-font-size * 1.285);
$font-size-huge: ($global-font-size * 1.428);
$font-size-massive: ($global-font-size * 1.714);

// --------------------
// Component Variables
// グローバルに使用するもののみ定義。ローカルなものは各コンポーネントに記載
// --------------------
// header
$header-height: 56px;

// sidebar
$sidebar-width: 20%;
$sidebar-min-width: 240px;
$sidebar-max-width: 280px;

// --------------------
// Z-index master
// --------------------
$zindex-dropdown: 1000 !default;
$zindex-sticky: 1020 !default;
$zindex-fixed: 1030 !default;
$zindex-modal-backdrop: 1040 !default;
$zindex-modal: 1050 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;

